@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap");

.search_section {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  /* margin: 0 auto; */
}

.logout_btn_wrapper {
  margin: 2rem;
}

.search_output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.top_card_headers p {
  font-size: 18px;
}
.base_title {
  display: flex;
  justify-content: center;
  /* padding: 2rem 0 2rem 0 !important; */
  font-weight: bold;
}

.stats_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 0 30px 20px; */
}

.pokemon_placeholder {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.invalid_placeholder {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: aliceblue;
  border: 10px solid aliceblue;
  border-radius: 50px;
  max-width: 350px;
  margin-bottom: 25px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold !important;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold !important;
}
.control input {
  width: 30rem;
  margin-bottom: 1.5rem;
}
.control button {
  width: 30rem;
  transition: all 0.5 ease;
  margin-bottom: 2rem;
}

.button:hover {
  background-color: #f4d731 !important;
}

.pokemon {
  align-items: center;
  border: 5px solid #fce75c;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 2rem;
  max-width: -webkit-fill-available;
  border-radius: 6px;
}
.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.height_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.type+name {
  margin-left: 1.5rem;
}

.pokemon_id,
.pokemon_name,
.type_header,
.type_name {
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 10px #c9c7ee;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  font-family: "Noto Serif JP", serif;
  font-size: 1.2em;
  color: black;
}

.base_stats {
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  font-family: "Noto Serif JP", serif;
  font-size: 1.2em;
  color: black;
}
.type_header {
  margin-top: 10px;
  background-color: #d6350c;
  color: black;
}
.pokemon_image_bg {
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  width: 100%;
  height: 350px;
  background: rgba(250, 235, 215, 0.7);
  margin: 0 auto;
}
.pokemon_image {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px !important;
  width: 300px !important;
}
.hw {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  margin: 1.5rem 0;
}

.base_stats {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 1rem;
  text-decoration: 1.5px solid black underline;
}
/* progress,
progress[role] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-size: auto;
  width: 300px;
  height: 13px;
} */

.title, .subtitle {
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

.logout_link {
  /* color: white;
  padding: inherit; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout_link span {
  margin-left: 5px;
}

.input_fields {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .logout_button {
  margin: 25px;
  margin-bottom: 50px;
} */

.column {
  padding: 0 !important;
  margin: auto;
}

.logout_icon, .search_icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 3px;
}

.user_image {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  width: 8rem;
  margin: .5rem auto;
}

.suggestions {
  padding-bottom: 5px;
}

/* footer {
  position: absolute;
  bottom: 0;
  height: min-content;
  width: 100vw;
  font-family: "Open Sans";
  color: #fff;
} */

.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: wrap;
  text-align: center;
  padding: 1rem 0 1rem 0;
  min-width: fit-content;
}

.footer_content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer_content p {
  max-width: 500px;
  margin: .5rem 2rem;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1.5rem 0; 
}

.socials li{
  margin: 0 3px;
  text-align: center;
}

.footer_bottom {
  background: #000;
  width: 100vw; 
  /* padding: 20px 0;  */
  text-align: center;

}

.footer_bottom p {
  font-size: 14px; 
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer_bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
  margin-right: 10px;
}
